.marker {
  width: 100px;
  height: 100px;
  /* position: absolute; */
  display: block;
}

.pin {
  width: 20px;
  height: 20px;
  position: relative;
  top: 38px;
  left: 38px;
  background: rgba(5, 124, 255, 1);
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 1000;
}

.pinEffect {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  display: block;
  background: rgba(5, 124, 255, 0.6);
  border-radius: 50%;
  opacity: 0;
  animation: pulsate 2400ms ease-out infinite;
}

.picker-pin {
  width: 20px;
  height: 20px;
  background: rgba(255, 21, 72, 0.877);
  border-radius: 50%;
  z-index: 1000;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
